<html>
  <head>
    <title>Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div id="header">
      <h1>Email Sender</h1>
    </div>

    <div class="main">
      <div class="box field from">
        <p>From:</p>
        <input type="text" value="prathamchauhan.coding42@gmail.com"/>
      </div>

      <div class="box field to">
        <p>To:</p>
        <input type="text" />
      </div>

      <div class="box area">
        <p>Body:</p>
        <textarea></textarea>
      </div>
      <div class="submit box">
        <div class="button"><p>Send</p></div>
      </div>
    </div>
  </body>
</html>
