<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div id="header">
      <h1>Email Sender</h1>
    </div>

    <div class="main">
      <div class="box field from">
        <p>From:</p>
        <div class="sender">
          <input type="text" />
        </div>
      </div>

      <div class="box field to">
        <p>To:</p>
        <div class="sender">
            <input type="text" />
        </div>
      </div>

      <div class="box body">
        <p>Body:</p>
        <div class="text_box">
          <textarea></textarea>
        </div>
      </div>
      <div class="submit box">Send</div>
    </div>
  </body>
</html>
