/* @font-face {
    font-family: 'Inconsolata'; 
    src: url('fonts/Inconsolata-SemiBold.ttf') format('truetype');
  }
*/

  
body {
    background: linear-gradient(146deg,
            #00c72b 0%,
            #006b17 51.77%,
            #051408 100%,
            #04200a 100%);
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: rgba(145, 246, 30, 0.88);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Inconsolata';
}

.main {
    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: center;
    

    max-width: 600px;
    margin: auto;
    /* background-color: #04200a; */
}

.box {
    display: flex;
    background: rgba(0, 0, 0, 0.38);
    color: aliceblue;
    padding: 10px;
    max-width: 600px;
    gap: 20px;
    /* width: fit-content; */
    /* background-color: red; */
}

.field {
    align-items: center;
    
    /* justify-content: center;  */
    /* background-color: red; */
}

.area {
    display: flex;
    height: 130px;
   
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid whitesmoke;
    outline: none;
    flex-grow: 1;
    /* background-color: transparent; */
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Expletus Sans';
}

textarea {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    outline: none;
    width: auto;
    flex-grow: 1;
    color: whitesmoke;
}

.from {
    height: 20px;
}

.to {
    height: 20px;
}

.submit {
    width: 45px;
}

p {
    width: 40px;
    font-size: 18px;
    font-family: 'Expletus Sans';
}

/* .button {
    height: 10px;
} */
